{% extends "hardware/base.html" %}
{% block title %}
{% if expansioncard.name %}{{ expansioncard.name}}
{% else %}{{expansioncard.brand}} {{expansioncard.model}}{% endif %}
{% endblock %}
{% block content %}
<h1>{% if expansioncard.name %}{{ expansioncard.name}}
  {% else %}{{expansioncard.brand}} {{expansioncard.model}}{% endif %}</h1>
<div class="row align-items-center">
  <div class="col-sm">
    <table class="table">
      <tr>
        <td><b>Interface:</b></td>
        <td>{{ expansioncard.interface }}</td>
      </tr>
      <tr>
        <td><b>Ports:</b></td>
        <td>{{ expansioncard.io_panel }}</td>
      </tr>
      <tr>
        <td><b>Notes:</b></td>
        <td>{{ expansioncard.notes }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm">
    {% if expansioncard.images %}
    <div class="pswp-gallery pswp-gallery--single-column" id="expansioncard-gallery">
      {% for image in expansioncard.images.all %}
      <a href="/images/{{ image.image }}" data-pswp-width="{{ image.image.width }}" data-pswp-height="{{ image.image.height }}"
        target="_blank">
        <img src="/images/{{ image.image }}" alt="{{ image }}" width="30%" />
      </a>
      {% endfor %}
    </div>
    <script type="module">
      // Include Lightbox 
      import PhotoSwipeLightbox from '/static/photoswipe/dist/photoswipe-lightbox.esm.js';
    
      const lightbox = new PhotoSwipeLightbox({
        // may select multiple "galleries"
        gallery: '#expansioncard-gallery',
    
        // Elements within gallery (slides)
        children: 'a',
    
        // setup PhotoSwipe Core dynamic import
        pswpModule: () => import('/static/photoswipe/dist/photoswipe.esm.js')
      });
      lightbox.init();
    </script>
    {% endif %}
  </div>
</div>
{% endblock %}