{% extends "hardware/base.html" %}
{% block content %}
<p>
    List of hardware including images. Choose a category along the top of the page.
</p>
<p>
    <h4>Currently cataloguing the following:</h4>
    <ul>
        <li>{{ num_cpu }} CPUs</li>
        <li>{{ num_ram }} sticks of RAM</li>
        <li>{{ num_gpu }} GPUs</li>
        <li>{{ num_sound }} Soundcards</li>
        <li>{{ num_exp }} Expansion Cards</li>
        <li>{{ num_nic }} NICs</li>
        <li>{{ num_mb }} Motherboards</li>
        <li>{{ num_case }} Cases</li>
        <li>{{ num_psu }} PSUs</li>
        <li>{{ num_periph }} Peripherals</li>
        <li>{{ num_cables }} Cables</li>
    </ul>
</p>
{% endblock %}