{% extends "hardware/base.html" %}
{% block content %}
<p>
    List of hardware including images. Choose a category along the top of the page.
</p>
<p>
    <h4>Currently cataloguing the following:</h4>
    <ul>
        <li>{{ num_cpus }} CPUs</li>
        <li>{{ num_ram }} sticks of RAM</li>
        <li>{{ num_gpus }} GPUs</li>
        <li>{{ num_sound }} Soundcards</li>
        <li>{{ num_exp }} Expansion Cards</li>
        <li>{{ num_nics }} NICs</li>
        <li>{{ num_mbs }} Motherboards</li>
        <li>{{ num_psus }} PSUs</li>
        <li>{{ num_drives }} Drives</li>
        <li>{{ num_cases }} Cases</li>
        <li>{{ num_systems }} Systems</li>
        <li>{{ num_periphs }} Peripherals</li>
        <li>{{ num_cables }} Cables, Adapters & I/O Brackets</li>
    </ul>
</p>
{% endblock %}