{% extends "hardware/base.html" %}
{% block title %}{{ motherboard.brand }} {{ motherboard.model }}{% endblock %}
{% block content %}
<h1>{{ motherboard.brand }} {{ motherboard.model }}</h1>
<div class="row align-items-center">
  <div class="col-sm">
    <table class="table">
      <tr>
        <td><b>Form Factor:</b></td>
        <td>{{ form_factor }}</td>
      </tr>
      <tr>
        <td><b>Socket:</b></td>
        <td>{{ motherboard.socket }}</td>
      </tr>
      <tr>
        <td><b>RAM Slots:</b></td>
        <td>{{ motherboard.ram }}</td>
      </tr>
      <tr>
        <td><b>Slots:</b></td>
        <td>{{ slots }}</td>
      </tr>
      <tr>
        <td><b>Notes:</b></td>
        <td>{{ motherboard.notes }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm">
    {% if motherboard.top_img or motherboard.bottom_img or motherboard.io_img %}
    <div class="pswp-gallery pswp-gallery--single-column" id="motherboard-gallery">
        {% if motherboard.top_img %}
        <a href="/images/{{ motherboard.top_img }}" 
          data-pswp-width="{{ motherboard.top_img.width }}" 
          data-pswp-height="{{ motherboard.top_img.height }}" 
          target="_blank">
          <img src="/images/{{ motherboard.top_img }}" alt="Top" width="30%"/>
        </a>
        {% endif %}
        {% if motherboard.bottom_img %}
        <a href="/images/{{ motherboard.bottom_img }}" 
          data-pswp-width="{{ motherboard.bottom_img.width }}" 
          data-pswp-height="{{ motherboard.bottom_img.height }}" 
          target="_blank">
          <img src="/images/{{ motherboard.bottom_img }}" alt="bottom" width="30%" />
        </a>
        {% endif %}
        {% if motherboard.io_img %}
        <a href="/images/{{ motherboard.io_img }}" 
          data-pswp-width="{{ motherboard.io_img.width }}" 
          data-pswp-height="{{ motherboard.io_img.height }}" 
          target="_blank">
          <img src="/images/{{ motherboard.io_img }}" alt="bottom" width="30%" />
        </a>
        {% endif %}
      </div>
    </div>
    </div>
      <script type="module">
        // Include Lightbox 
        import PhotoSwipeLightbox from '/static/photoswipe/dist/photoswipe-lightbox.esm.js';

        const lightbox = new PhotoSwipeLightbox({
        // may select multiple "galleries"
        gallery: '#motherboard-gallery',

        // Elements within gallery (slides)
        children: 'a',

        // setup PhotoSwipe Core dynamic import
        pswpModule: () => import('/static/photoswipe/dist/photoswipe.esm.js'),
        });
        lightbox.init();
    </script>
    {% endif %}
</p>
{% endblock %}