{% extends "hardware/base.html" %}
{% block title %}{{ nic.brand }} {{ nic.model }}{% endblock %}
{% block content %}
<h1>{{ nic.brand }} {{ nic.model }}</h1>
<div class="row align-items-center">
  <div class="col-sm">
    <table class="table">
      <tr>
        <td><b>Interface:</b></td>
        <td>{{ interface_verbose }}</td>
      </tr>
      <tr>
        <td><b>Wireless</b></td>
        <td>{{ nic.wireless }}</td>
      </tr>
      <tr>
        <td><b>Speed:</b></td>
        <td>{{ speed }}</td>
      </tr>
      <tr>
        <td><b>Ports:</b></td>
        <td>{{ ports }}</td>
      </tr>
      <tr>
        <td><b>Notes:</b></td>
        <td>{{ nic.notes }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm">
    {% if nic.top_img or nic.bottom_img or nic.io_img %}
    <div class="pswp-gallery pswp-gallery--single-column" id="nic-gallery">
        {% if nic.top_img %}
        <a href="/images/{{ nic.top_img }}" 
          data-pswp-width="{{ nic.top_img.width }}" 
          data-pswp-height="{{ nic.top_img.height }}" 
          target="_blank">
          <img src="/images/{{ nic.top_img }}" alt="Top" width="30%"/>
        </a>
        {% endif %}
        {% if nic.bottom_img %}
        <a href="/images/{{ nic.bottom_img }}" 
          data-pswp-width="{{ nic.bottom_img.width }}" 
          data-pswp-height="{{ nic.bottom_img.height }}" 
          target="_blank">
          <img src="/images/{{ nic.bottom_img }}" alt="bottom" width="30%" />
        </a>
        {% endif %}
        {% if nic.io_img %}
        <a href="/images/{{ nic.io_img }}" 
          data-pswp-width="{{ nic.io_img.width }}" 
          data-pswp-height="{{ nic.io_img.height }}" 
          target="_blank">
          <img src="/images/{{ nic.io_img }}" alt="bottom" width="30%" />
        </a>
        {% endif %}
      </div>
    </div>
    </div>
      <script type="module">
        // Include Lightbox 
        import PhotoSwipeLightbox from '/static/photoswipe/dist/photoswipe-lightbox.esm.js';

        const lightbox = new PhotoSwipeLightbox({
        // may select multiple "galleries"
        gallery: '#nic-gallery',

        // Elements within gallery (slides)
        children: 'a',

        // setup PhotoSwipe Core dynamic import
        pswpModule: () => import('/static/photoswipe/dist/photoswipe.esm.js'),
        });
        lightbox.init();
    </script>
    {% endif %}
</p>
{% endblock %}