{% extends "hardware/base.html" %}
{% block title %}{{ proprietary.brand }} {{ proprietary.name }}{% endblock %}
{% block content %}
<h1>{{ proprietary.brand }} {{ proprietary.name }} ({{ proprietary.model }})</h1>
<div class="row align-items-center">
  <div class="col-sm">
    <table class="table">
      {% if proprietary.cpus.count > 0 %}
      <tr>
        {% if proprietary.cpus.count > 1 %}
        <td><b>CPUs:</b></td>
        {% else %}
        <td><b>CPU:</b></td>
        {% endif %}
        <td>
          {% for cpu in proprietary.cpus.all %}
          <a href="{{ cpu.get_absolute_url }}">{{ cpu }}</a> @ {{ cpu.get_speed_display }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.get_ram %}
      <tr>
        <td><b>RAM:</b></td>
        <td data-bs-toggle="collapse" data-bs-target="#ram-list" aria-expanded="false" aria-controls="ram-list">
          {{ proprietary.get_ram }}
          <div class="collapse" id="ram-list">
            <ul>
              {% for stick in proprietary.ram.all %}
              <li>{{ stick }}</li>
              {% endfor %}
            </ul>
          </div>
        </td>
      </tr>
      {% endif %}
      {% if proprietary.motherboard.count > 0 %}
      <tr>
        {% if proprietary.motherboard.count > 1 %}
        <td><b>Motherboards:</b></td>
        {% else %}
        <td><b>Motherboard:</b></td>
        {% endif %}
        <td>
          {% for mb in proprietary.motherboard.all %}
          <a href="{{ mb.get_absolute_url }}">{{ mb }}</a><br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.gpus.count > 0 %}
      <tr>
        {% if proprietary.gpus.count > 1 %}
        <td><b>GPUs:</b></td>
        {% else %}
        <td><b>GPU:</b></td>
        {% endif %}
        <td>
          {% for gpu in proprietary.gpus.all %}
          <a href="{{ gpu.get_absolute_url }}">{{ gpu }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.soundcards.count > 0 %}
      <tr>
        {% if proprietary.soundcards.count > 1 %}
        <td><b>Sound cards:</b></td>
        {% else %}
        <td><b>Sound card:</b></td>
        {% endif %}
        <td>
          {% for soundcard in proprietary.soundcards.all %}
          <a href="{{ soundcard.get_absolute_url }}">{{ soundcard }}<br>
            {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.nics.count > 0 %}
      <tr>
        {% if proprietary.nics.count > 1 %}
        <td><b>NICs:</b></td>
        {% else %}
        <td><b>NIC:</b></td>
        {% endif %}
        <td>
          {% for nic in proprietary.nics.all %}
          <a href="{{ nic.get_absolute_url }}">{{ nic }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.expansioncards.count > 0 %}
      <tr>
        {% if proprietary.expansioncards.count > 1 %}
        <td><b>Expansion cards:</b></td>
        {% else %}
        <td><b>Expansion card:</b></td>
        {% endif %}
        <td>
          {% for expansioncard in proprietary.expansioncards.all %}
          <a href="{{ expansioncard.get_absolute_url }}">{{ expansioncard }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.psu.count > 0 %}
      <tr>
        {% if proprietary.psu.count > 1 %}
        <td><b>PSUs:</b></td>
        {% else %}
        <td><b>PSU:</b></td>
        {% endif %}
        <td>
          {% for psu in proprietary.psu.all %}
          <a href="{{ psu.get_absolute_url }}">{{ psu }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.external_drives.count > 0 %}
      <tr>
        {% if proprietary.external_drives.count > 1 %}
        <td><b>External Drives:</b></td>
        {% else %}
        <td><b>External Drive:</b></td>
        {% endif %}
        <td>
          {% for drive in proprietary.external_drives %}
          <a href="{{ drive.get_absolute_url }}">{{ drive }}</a><br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.internal_drives.count > 0 %}
      <tr>
        {% if proprietary.internal_drives.count > 1 %}
        <td><b>Internal Drives:</b></td>
        {% else %}
        <td><b>Internal Drive:</b></td>
        {% endif %}
        <td>
          {% for drive in proprietary.internal_drives %}
          <a href="{{ drive.get_absolute_url }}">{{ drive }}</a><br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.case.count > 0 %}
      <tr>
        {% if proprietary.case.count > 1 %}
        <td><b>Cases:</b></td>
        {% else %}
        <td><b>Case:</b></td>
        {% endif %}
        <td>
          {% for case in proprietary.case.all %}
          <a href="{{ case.get_absolute_url }}">{{ case }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if proprietary.notes %}
      <tr>
        <td><b>Notes:</b></td>
        <td>{{ proprietary.notes }}</a></td>
      </tr>
      {% endif %}
      </table>
      </div>
      <div class="col-sm">
        {% if proprietary.images %}
        <div class="pswp-gallery pswp-gallery--single-column" id="proprietary-gallery">
          {% for image in proprietary.images.all %}
          <a href="/images/{{ image.image }}" data-pswp-width="{{ image.image.width }}" data-pswp-height="{{ image.image.height }}"
            target="_blank">
            <img src="/images/{{ image.image }}" alt="{{ image }}" width="30%" />
          </a>
          {% endfor %}
        </div>
        <script type="module">
          // Include Lightbox 
          import PhotoSwipeLightbox from '/static/photoswipe/dist/photoswipe-lightbox.esm.js';
        
          const lightbox = new PhotoSwipeLightbox({
            // may select multiple "galleries"
            gallery: '#proprietary-gallery',
        
            // Elements within gallery (slides)
            children: 'a',
        
            // setup PhotoSwipe Core dynamic import
            pswpModule: () => import('/static/photoswipe/dist/photoswipe.esm.js')
          });
          lightbox.init();
        </script>
        {% endif %}
      </div>
    </div>
{% endblock %}